<!DOCTYPE html>
<html>
<head>
	<title>TIMER</title>
		<style type="text/css">
		body{
			background: #f7f7f7;
		}
		.format {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 300%;
		}
		a:link {
  			text-decoration: none;
		}
		a:visited {
  			text-decoration: none;
		}
		a:link {
  			color: blue;
		}
		a:visited {
  			color: blue;
		}
		a:hover {
  			color: blue;
		}
		a:active {
  			color: blue;
		}
		</style> 
</head>
<body>
	<div class="format">
		<a href="timer.html">START</a>
	</div>
</body>
</html>