<!DOCTYPE html>
<html>
<head>
  <title>TIMER</title>
  <style type="text/css">
    body{
      background: #f7f7f7;
    }
    .countdownContainer{
      position: absolute;
      top: 50%;
      left: 50%;
      transform : translateX(-50%) translateY(-50%);
      text-align: center;
      background: #edd;
      border: 1px solid #999;
      padding: 10px;
      box-shadow: 0 0 5px 3px #ccc;
    }
    .info{
      font-size: 80px;
      font: #edd;
    }
    .info2{
      font-size: 20px;
      font: #edd;
    }
  </style>
</head>
<body>
  <table class="countdownContainer">
    <tr class="info">
      <td colspan="4" id="up">TIMER</td>
    </tr>
    <tr class="info">
      <td id="mins">10</td>
      <td>:</td>
      <td id="seconds">00</td>
    </tr>
    <tr class="info2 ">
      <td>Minutes</td>
      <td></td>
      <td>Seconds</td>
    </tr>
  </table>
  <script type="text/javascript" src="C:\Users\Home\Desktop\alertTimer\js\timer.js">
</script>
</body>
</html>